a{
    color: $color-gray-700;
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    color: $color-gray-900;
    line-height: 1.1;
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.9rem;
}
h3{
    font-size: 1.3rem;
    line-height: 1.25;
}
h3{
    font-size: 1.1rem;
}
h5{
    line-height: 1.4;
}
section{
    margin-top: 6rem;
}
.container{
    width: $container-width-lg;
    margin-inline: auto;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: $radius-2;
    background: $color-white;
    font-weight: 500;
    cursor: pointer;
    transition: $transition;
}
.btn.primary{
    background: $color-primary;
    color: $color-white;
}
.btn.category{
    background: $color-bg;
    color: $color-primary;
    font-size: 0.75rem;
    font-weight: 400;
}
.btn.sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-size: 500;
}
.btn.danger{
    background: $color-red;
    color: $color-white;
}
.btn:hover{
    background: $color-gray-900;
    color:$color-white
}
.center{
text-align: center;
padding-top: 5rem;
margin-inline: auto;
display: block;
width: 100%;
}
.error-page h2{
    margin-top: 3rem;
}
img{
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}