@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=McLaren&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: none
}
@import "var";
@import "basic";

body{
    font-family: "Poppins", sans-serif;
    background-color: $color-bg;
    font-size: 0.9rem;
    line-height: 1.6;
    color:$color-gray-700;
}
/*----------------------------------Navbar----------------------------------------------------------*/
nav{
    width: 100%;
    height: 5rem;
    display: grid;
    place-items: center;
    background:var(255,255,255,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid $color-bg;
    backdrop-filter: blur(20px);

    .nav_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .nav_logo{
            width: 3rem;
            display: block;

            img{
                display: block;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .nav_menu{
        display: flex;
        align-items: center;
        gap: 3rem;
    }
    .nav_toggle_btn{
        display: none;
    }
}

/*----------------------------------Footer----------------------------------------------------------*/
footer{
    background: $color-gray-900;
    margin-top: 6rem;
    padding-top: 6rem;

    .footer_categories{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        margin-bottom: 4rem;

        a{
            background: $color-gray-700;
            color: $color-white;
            padding: 0.6rem 1.4rem;
            border-radius: $radius-2;
            transition: $transition;

            &:hover{
                background: $color-white;
                color: $color-gray-900;
            }
        }
    }
    .footer_copyright{
        text-align: center;
        border-top: 2px solid $color-gray-700;
        padding: 1rem;
        color: $color-white;
        font-weight: 300;
    }
}
/*----------------------------------Home----------------------------------------------------------*/
/*----------------------------------posts----------------------------------------------------------*/
.post_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
.post{
    background: $color-white;
    padding: 1rem;
    border-radius: $radius-4;
    padding-bottom: 2rem;
    transition: $transition;
    cursor: default;

    &:hover{
        box-shadow: 0 1.5rem 2rem rgba(0,0,0,0.1);
    }

    .post_thumbnail{
        border-radius: $radius-3;
        overflow: hidden;
        height: 16rem;

        img{
            height: 100%;
            width: 100%;
            object-fit:cover;
        }
    }
    .post_content{
        margin-top: 1.5rem;

        h3{
            margin: 1rem 0 0.6rem;
        }

        .post_footer{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 2rem;

            .post_author{
                display: flex;
                gap: 1rem;
                align-items: flex-start;
                .post_author_avatar{
                    width: 2.5rem;
                    height: 2.5rem;
                    aspect-ratio: 1/1;
                    border-radius: $radius-2;
                    overflow: hidden;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
/*----------------------------------posts Details----------------------------------------------------------*/
.post-detail{
    width: $form-width;
    background: $color-white;
    margin-inline: auto;
    padding: 2rem 0;
    .post-detail_header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        
    }
    .post-detail_buttons{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .post-detail_thumbnail{
        margin: 1rem 0;
        height: fit-content;
        max-height: 30rem;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    p{
        margin-top: 0.6rem;
        text-align: justify;
    }
}
.post_author_avatar{
    height: 4.5rem;
    width: 4.5rem;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

 
/*----------------------------------Register----------------------------------------------------------*/

.form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
input,select,textarea{
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: $radius-1;
    resize: none;
}
.form_error-msg{
    background: $color-red;
    color: $color-white;
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: $radius-1;
    display: block;
    margin-bottom: 1rem;
}
.register, .login, .create-post{
    width: $form-width;
    margin-inline: auto;
    height: calc(100vh - 12rem);
    display: grid;
    place-items: center;

    h2{
        margin-bottom: 2rem;
    }
    small{
        display: block;
        margin-top: 1.5rem;
    }
    a{
        color: $color-primary;
    }
} 

/*----------------------------------Authors----------------------------------------------------------*/
.author-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
}
.author{
    background: $color-white;
    padding: 1rem;
    border-radius: $radius-3;
    display: flex;
    gap: 1rem;
    transition: $transition;
    &:hover{
        box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.07);
    }
    .author_avatar{
        width: 5rem;
        height: 5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 0.3rem solid $color-bg;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .author_info p{
        margin-top: 1rem;
    }
}

/*----------------------------------Profile----------------------------------------------------------*/
.profile_container{
    display: grid;
    place-items: center;
    text-align: center;
    .profile_details{
        width: 100%;
        h1{
            margin-top: 1.5rem;
        }
        .avatar_wrapper{
            width: 15rem;
            aspect-ratio: 1/1;
            position: relative;
            margin-inline: auto;
            margin-top: 1rem;
            .profile_avatar{
                height: 100%;
                border-radius: 50%;
                border: 1rem solid $color-white;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        .avatar_form{
            height: 1rem;
            input{
                visibility: hidden;
            }

            label{
                background: $color-gray-900;
                color: $color-white;
                font-size: 1.2rem;
                position: absolute;
                right: 2rem;
                bottom: 1.4rem;
                width: 3rem;
                height: 3rem;
                display: grid;
                place-items: center;
                border-radius: 50%;
            }
        }
        .profile_avatar-btn{
            background: $color-gray-900;
            color: $color-white;
            font-size: 1.2rem;
            position: absolute;
            right: 2rem;
            bottom: 1.4rem;
            width: 3rem;
            height: 3rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            cursor: pointer;
            padding: 0;
            font-size: 1.5rem;
            background: $color-primary;
        }
        }
    }
}
.form.profile_form{
    margin-top: 3rem;
    margin-inline: auto;
    width: $form-width;
}
/*----------------------------------Dashboard----------------------------------------------------------*/
.dashboard_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.dashboard_post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: $color-white;
    padding: 0.5rem 1.2rem;
    border-radius: $radius-3;
}
.dashboard_post-info{
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
}
.dashboard_post-thumbnail{
    width: 4rem;
    border-radius: $radius-1;
    overflow: hidden;
}
.dashboard_post-actions{
    display: flex;
    gap: 1rem;
}

.ql-editor{
    overflow: scroll;
    background: $color-white;
    height: 15rem !important;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: $color-bg;
}
.loader_image{
    width: 4.5rem;
    aspect-ratio: 1/1;
}
/*----------------------------------media Queries----------------------------------------------------------*/

@media screen and (max-width:800px){
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.35rem;
    }
    .container{
       width: 91% !important;
       
    }

    /* NAVBAR*/
    .nav_container{
        position: relative;
       
    }
    .nav_menu{
        position: absolute !important;
        top: 5rem;
        right: 0;
        flex-direction: column;
        gap: 0 !important;
        
    }
    .nav_menu li{
        width: 100%;
        box-shadow: -2rem 4rem 4rem rgba(0,0,0,0.26) !important;  
        animation: dropdown 500ms ease forwards;
        opacity: 0;
        transform: rotateX(90deg);
        transform-origin: top;
       
    }
    @keyframes dropdown{
        to{
            opacity: 1;
            transform: rotateX(0)
        };
    }
    .nav_menu li a{
            display: block !important;
            background: $color-white !important;
            padding: 0.85rem 2.5rem;
    }

    .nav_toggle_btn{
        display: inline-block !important;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .post_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .footer_categories{
        flex-direction: column;

    }
    .post-detail{
        width: 100%;
        background: transparent;
        padding: 0;
    }
    .register , .login, .create-post{
        width: 100%;
        min-height: 100vh;
    }
    .form.profile_form{
        margin-top: 2.5rem;
        width: 100%;
    }
    .author-container{
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
    .dashboard_post{
        flex-direction: column;
    }
    .dashboard_post-info{
        gap: 1.5rem;
    }
    .dashboard_post-thumbnail{
        width: 5rem;
    }
}